@import url('https://fonts.googleapis.com/css?family=Prompt:300,300i,700,900');
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  width: 100%;
  display: block;
  float: left;
  font-family: 'Prompt', sans-serif;
}
.container {
  font-weight: lighter;
  width: 98%;
  margin: 15px 1% ;
  margin-bottom: 140px;
  display: block;
  float: left;
  font-size: 1.2em;
  background: rgba(254, 254, 254, 0.9);
  box-shadow: 10px 15px 50px #7f8c8d;
  border-radius: 5px;
}
.container .hero {
  margin-bottom: 25px;
  font-weight: 700;
}
.container .maincontainer {
  display: block;
  float: left;
  width: 90%;
  margin: 0 5%;
  margin-bottom: 25px;
  font-weight: 900;
}
.container .containerA {
  width: 100%;
  display: inline-block;
  float: left;
  font-weight: 300;
}
.container .containerA .contentA {
  display: inline-block;
  float: left;
  width: 90%;
  margin: 0 5%;
  margin-bottom: 25px;
}
.container .containerB {
  width: 100%;
  display: inline-block;
  float: left;
  font-weight: 300;
}
.container .containerB .contentB {
  display: inline-block;
  float: left;
  width: 90%;
  margin: 0 5%;
  margin-bottom: 25px;
}
.container .containerC {
  width: 100%;
  display: inline-block;
  float: left;
  font-weight: 300;
}
.container .containerC .contentC {
  display: inline-block;
  float: left;
  width: 90%;
  margin: 0 5%;
  margin-bottom: 25px;
}
.container .submit {
  display: block;
  float: left;
  padding: 25px;
  margin: 0 30%;
  margin-bottom: 25px;
}
.container .submit a {
  padding: 0 50px;
}
